<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <%= link_to "Home", root_path %>
        </li>
        <li class="breadcrumb-item">
            <%= link_to "Computer Science & Data Science Major & Minor Requirements", requirements_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Data Science & Analytics Requirements
        </li>
    </ol>
</nav>

<h1>Data Science & Analytics Requirements</h1>

<p>
For both data science and data analytics majors, students take:
  <ol>
    <li><strong>Core courses</strong> in math, statistics, computer science.</li>
    <li>
      <strong>Disciplinary specialty:</strong> students choose one discipline (from among economics, psychology, political science, sociology, anthropology, education studies, biology, chemistry, geology)
      and take a sequence of 3-5 courses that teach students disciplinary thinking and how data is used in that discipline.
    </li>
    <li>Courses from the humanities on data work.</li>
    <li>One sophomore seminar that introduces students to the data science and data analytics major and career.</li>
    <li>One senior seminar or capstone experience, in which students work on a real data project.</li>
  </ol>
</p>

<p>
  Majoring in data science or data analytics at Beloit, you will learn not only how to work with data, but also the humanistic foundation of data work.
  You will acquire career-ready skills that will position you, at graduation, to work in a variety of fields that make use of complex data sets (e.g. business, the arts, science, government, and more).
</p>

<div class="accordion" id="DsdaRequirement" style="margin: 2rem 0;">

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingDsdaMajor">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDsdaMajor" aria-expanded="false" aria-controls="collapseDsdaMajor">
        <strong>Data Science Major (15 units)</strong>
      </button>
    </h2>
    <div id="collapseDsdaMajor" class="accordion-collapse collapse show" aria-labelledby="headingDsdaMajor" data-bs-parent="#DsdaRequirement">
      <div class="accordion-body">
        <ol>
          <li style="margin-bottom: 1rem">DSDA 210 (.5), 345, and 385.</li>
          <li style="margin-bottom: 1rem"><strong>Four</strong> units in Mathematics: MATH 110, 115, 175, and 205.</li>
          <li style="margin-bottom: 1rem"><strong>Three</strong> Three units in Computer science: CSCI 111, 204, and 367.</li>
          <li style="margin-bottom: 1rem"><strong>Two</strong> units in Data Science and Data Analytics or the humanities, chosen from ART 325, DSDA 215, ENGL 265, GLAM 249, MDST 150, CPLT 215.</li>
          <li style="margin-bottom: 1rem"><strong>One</strong> disciplinary specialty chosen from the following (3 units):
            <ol>
              <li><strong>Anthropology:</strong> Two units chosen from any 100-level anthropology courses and 240 (201 and 225 are recommended).</li>
              <li><strong>Biology:</strong> one 100-level biology course and 247; either 215 or 372.</li>
              <li><strong>Chemistry:</strong> 117 and 220, and one chosen from 225, 240, 245, or 300.</li>
              <li><strong>Economics:</strong> 199, 211, 251 (one from 271, 302, or 303 is recommended).</li>
              <li><strong>Education and Youth Studies:</strong> 201, 252, and 306.</li>
              <li><strong>Environmental Studies:</strong> one laboratory science course, one statistics or quantitative course from any discipline, and Environmental Studies 258.</li>
              <li><strong>Geology:</strong> 100 or 110; one statistics or quantitative course from any discipline; one chosen from Geology 230, 235, or 245, or Environmental Studies 258, with a geology project.</li>
              <li><strong>Health and Society:</strong> 140, one statistics or quantitative course from any discipline, and Biology 215.</li>
              <li><strong>Physics:</strong> 101 and 335; either 210 or 345.</li>
              <li><strong>Political Science:</strong> 110 and 201; either 207 or 215.</li>
              <li><strong>Psychology:</strong> 100, 161, 162.</li>
              <li><strong>Sociology:</strong> either 100 or 150; 205 and 211.</li>
            </ol>
          </li>
          <li style="margin-bottom: 1rem">DSDA 310 (.5).</li>
        </ol>
        If students majoring in data science or data analytics want to major or minor in another discipline, up to four units are allowed to be double counted.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingDsdaMinor">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDsdaMinor" aria-expanded="false" aria-controls="collapseDsdaMinor">
        <strong>Data Analytics Major (6 units)</strong>
      </button>
    </h2>
    <div id="collapseDsdaMinor" class="accordion-collapse collapse" aria-labelledby="headingDsdaMinor" data-bs-parent="#DsdaRequirement">
      <div class="accordion-body">
        <ol>
          <li style="margin-bottom: 1rem">DSDA 210 (.5)</li>
          <li style="margin-bottom: 1rem"><strong>One</strong> unit in Mathematics: MATH 110.</li>
          <li style="margin-bottom: 1rem"><strong>Three</strong> Three units in Computer science: CSCI 111, 204, and 367.</li>
          <li style="margin-bottom: 1rem"><strong>Three</strong> units in Data Science and Data Analytics or the humanities, chosen from ART 325, DSDA 215, ENGL 265, GLAM 249, MDST 150, CPLT 215.</li>
          <li style="margin-bottom: 1rem"><strong>One</strong> disciplinary specialty chosen from the following (3 units, unless otherwise indicated):</li>
          <li style="margin-bottom: 1rem"><strong>One</strong> disciplinary specialty chosen from the following (3 units):
            <ol>
              <li><strong>Anthropology:</strong> Two units chosen from any 100-level anthropology courses and 240 (201 and 225 are recommended).</li>
              <li><strong>Biology:</strong> one 100-level biology course and 247; either 215 or 372.</li>
              <li><strong>Chemistry:</strong> 117 and 220, and one chosen from 225, 240, 245, or 300.</li>
              <li><strong>Economics:</strong> 199, 211, 251 (one from 271, 302, or 303 is recommended).</li>
              <li><strong>Education and Youth Studies:</strong> 201, 252, and 306.</li>
              <li><strong>Environmental Studies:</strong> one laboratory science course, one statistics or quantitative course from any discipline, and Environmental Studies 258.</li>
              <li><strong>Geology:</strong> 100 or 110; one statistics or quantitative course from any discipline; one chosen from Geology 230, 235, or 245, or Environmental Studies 258, with a geology project.</li>
              <li><strong>Health and Society:</strong> 140, one statistics or quantitative course from any discipline, and Biology 215.</li>
              <li><strong>Physics:</strong> 101 and 335; either 210 or 345.</li>
              <li><strong>Political Science:</strong> 110 and 201; either 207 or 215.</li>
              <li><strong>Psychology:</strong> 100, 161, 162.</li>
              <li><strong>Sociology:</strong> either 100 or 150; 205 and 211.</li>
            </ol>
          </li>
          <li style="margin-bottom: 1rem">DSDA 310 (.5).</li>
        </ol>
        If students majoring in data science or data analytics want to major or minor in another discipline, up to four units are allowed to be double counted.
      </div>
    </div>
  </div>

</div>
